<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="text-align: center;">
        <ul>
            <li th:each="contact : ${contacts}">
                <span th:text="${contact.getName() + ' ' + contact.getSurname() + ' | '}"></span>
                <strong th:text="${contact.getNumber()}"></strong>
                <br/>
                <a th:href="'/contact/delete/' + ${contact.getId()}">Usuń</a>
                <hr/>
            </li>
        </ul>
    </div>
</body>
</html>