<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="text-align: center;">
        <h1 th:text="${registerInfo}"></h1>

        <form action="/user/add" method="post" th:object="${registerForm}">
            <input type="text" th:field="*{login}" placeholder="Login"><br/>
            <input type="password" th:field="*{password}" placeholder="Hasło"><br/>
            <input type="submit" value="Wyślij"><br/>
        </form>
    </div>
</body>
</html>